<h2><%= @user.username %></h2>
<h3>Events:</h3>
<% @user.events.each do |event| %>
  <section>
    <p><strong>Event</strong>: <%= event.name %></p>
    <p><strong>Desc</strong>: <%= event.desc %></p>
    <p><strong>Date</strong>: <%= event.date %></p>
  </section>
  <hr>
<% end %>