<section class="edit-event">
  <h2>Editing Event</h2>

  <%= render 'form', event: @event %>

  <section class="links">
    <%= link_to 'Show', @event %>
    <%= link_to 'Back', events_path %>
  </section>
<section>