/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css);

$primary-color: #9C27B0;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-light: lighten($primary-color, 10%);

$white: hsl(0, 0%, 95%);
$black: hsl(0, 0%, 20%);


*,
::before,
::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

li {
  list-style: none;
}

.links {
  display: flex;
  gap: 0.5em;

  a::before {
    content: '[ ';
  }
  a::after {
    content: ' ]';
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  height: min-content;
  &.small-gap {
    gap: 0.7em;
  }
  &.normal-gap {
    gap: 1.5em;
  }
}

.row {
  display: flex;
  justify-content: center;
  height: max-content;
  &.small-gap {
    gap: 0.7em;
  }
  &.normal-gap {
    gap: 1.5em;
  }
  & > .card {
    width: max-content;
  }
}

body {
  color: $black;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  margin-bottom: 2em;
  width: 100%;

  nav ul {
    display: flex;
    gap: 1em;
  }

  h1 a:hover {
    text-decoration: none;
  }
}

.card {
  padding: 1em;
  border-radius: 12px;
  box-shadow: $black 0px 4px 8px;
  width: 100%;
}